PyQt6==6.7.1
requests==2.32.3
certstream==1.10
websocket-client==0.48.0
tldextract==5.1.2
google-genai==1.26.0
pandas==2.2.3
openpyxl==3.1.5
xlrd==1.2.0
python-dotenv==1.0.1
keyring>=24.0.0
typing-extensions==4.12.2
